* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
}

body {
  max-width: 1920px;
  /*width: 100%;*/
  width: 100%;
  color: #242424;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.page {
  min-height: 100%;
  height: auto !important;
}

header {
  width: 998px;
  height: 114px;
  margin: 0 auto;
  overflow: hidden;
}

header .navbar__logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 auto;
  width: 100%;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  margin: 30px 0 0 15px;
  width: 180px;
  height: 73px;
}

header .navbar__logo img {
  width: 180px;
  height: 73px;
}

header .navbar__slogan span {
  padding: 0;
  margin: 0;
  color: #ef7937;
}

header .navbar__slogan {
  width: 100%;
  max-width: 320px;
  position: absolute;
    margin: 31px 0 0 302px;
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #085198;
}

header .navbar__phone {
  position: absolute;
    margin: 27px 0 0 780px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    color: #ef7937;
    min-width: 180px;
    height: 37px;
}

header .navbar__phone img {
  width: 35px;
  height: 35px;
  position: absolute;
    margin: -3px 0 0 -47px;
}


.navbar__phone-main {
  border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 4px 6px 4px 6px;
    margin: -11px 0 0 0px;
    cursor: pointer;
    display: block;
    color: #ef7937;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
}


.navbar__phone-item {
  font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    margin: 4px 0 0 10px;
    font-size: 18px;
    color: #085198;
}

.navbar__phone-item:hover {
  color: #1596d6;
}

.navbar__phone-main_addition {
  display: none;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    width: 166px;
    background-color: #1596d6;
    color: #ffffff;
    padding: 3px 0 3px 0;
    margin: 5px 0 0 0;
    border-radius: 0 0 3px 3px;
    line-height: 1.25em;
}

.navbar__phone-main:hover {
    border: 1px solid #74c4ed;
}

.navbar__phone-main:hover .navbar__phone-main_addition {
  display: block;
}

.navbar__menu {
    background-color: orangered;
    position: absolute;
    margin: 87px 1 0 245px;
    width: 740px;
}

.navbar__menu a {
    display: inline-block;
    width: 181px;
    margin: 0 -1px 0 0;
    padding: 5px 0 5px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    /*font-weight: 400;*/
    letter-spacing: 1px;
    border-radius: 4px;
}

.btn__style-default {
    border: 1px solid #0b84ed;
    border-color: #1596d6;
    background-color: #1596d6;
    color: #ffffff;
}

.btn__orange {
    border: 1px solid;
    border-color: #ef7937;
    background-color: #ef7937;
    color: #ffffff;
}